.vscode/**
.vscode-test/**
src/**
test/**
*.map
**/*.map
*.ts
*.tsbuildinfo
tsconfig.json
esbuild.js
README.md
CHANGELOG.md
node_modules/**
.gitignore
.yarn/**
.eslintrc*
.prettierrc*
package-lock.json
yarn.lock
pnpm-lock.yaml
!dist/**
!package.json
!README.md
!CHANGELOG.md
!LICENSE
!resources/**
